@import "tailwindcss";
@import "tw-animate-css";
@import 'swiper/css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --highlight-text-primary: #17CDCA;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --navbar-background: #FFFFFF80;
  --navbar-border: #FFFFFF1A;
  --text-field-background: #F6F6F6;
  --wedo-bg: #FFFFFF;
  --wedo-text: #585858;
  --facilities-text: #585858;
  --post-bg: red;
  --footer-link: #585858;
  --mission-button: #17CDCA;
  --non-active-button: #CAFBFA;
  --feature-text: black;
  --team-card-bg: #F7F7F7;
  --team-nested-card-bg: #FFFFFF;
  --team-social-icon-bg: #FFFFFF;
  --inverted-tick: #FFFFFF;
  --contact-form-bg: radial-gradient(118.37% 118.62% at -13.75% 5.84%, #F1F1F1 0%, #FFFFFF 98.99%);
  --contact-icons-bg: #17CDCA;
  --hiring-process-card-shadow: 0px 0px 10px 4px #0000001A;
  --member-card-bg: #F7F7F7;
  --member-card-role: #585858;
  --nav-btn-portfolio: #F7F7F7;
  --work-bg: #FFFFFF;
  --worked-on-bg: #F7F7F7;
  --worked-tech-bg: #F7F7F7;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --navbar-background: #090A0980;
  --navbar-border: #FFFFFF1A;
  --navbar-button: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 1.79%, rgba(17, 17, 17, 0.1) 102.68%);
  --navbar-button-border: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.1) 75%);
  --navbar-button-shadow: inset 0px 4px 13px rgba(255, 255, 255, 0.15),
    0px -4px 20px rgba(255, 255, 255, 0.25);
  --review-card-background: rgba(0, 0, 0, 0.4);
  --faq-card-background: linear-gradient(180deg, #00110A 0%, rgba(0, 0, 0, 0.5) 100%);
  --text-field-background: #FFFFFF1A;
  --wedo-bg: linear-gradient(186.47deg, rgba(255, 253, 253, 0.4) -20.85%, rgba(255, 253, 253, 0.2) -20.83%, rgba(255, 255, 255, 0) 116.4%);
  --facilities-text: #B0B0B0;
  --wedo-text: #FFFFFF;
  --post-bg: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(0, 0, 0, 0.35) 100%);
  --footer-link: #E6E6E682;
  --mission-button: linear-gradient(90deg, #17CDCA 0%, #08A8A5 100%);
  --non-active-button: #75ECEA3B;
  --feature-text: white;
  --team-card-bg: #FFFFFF1F;
  --team-nested-card-bg: #17CDCA0F;
  --team-social-icon-bg: #18181D;
  --inverted-tick: #000000;
  --contact-form-bg: radial-gradient(118.37% 118.62% at -13.75% 5.84%, #262626 0%, #000000 98.99%);
  --contact-form-gradient: linear-gradient(180deg, #000000 -25.8%, #666666 21.43%);
  --contact-form-slice: 1;
  --contact-icons-bg: radial-gradient(68.03% 69.39% at 18.33% 15.83%, #262626 47.49%, #141414 100%);
  --hiring-process-card-shadow: 0px 0px 15px 4px #17CDCA78 inset;
  --member-card-bg: #FFFFFF0D;
  --member-card-role: #FFFFFF;
  --nav-btn-portfolio: #FFFFFF14;
  --work-bg: #68686833;
  --worked-on-bg: #000;
  --worked-tech-bg: #68686833;
}

.gradient-border {
  border: 1px solid;
  border-image-source: linear-gradient(154.86deg, rgba(151, 234, 233, 0.18) 17.49%, #82E5E4 28.53%, #17CDCA 35.17%, #17CDCA 47.99%, rgba(174, 254, 253, 0) 90.4%);
  border-image-slice: 1;
}

.vision-border {
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #17CDCA -8.13%, rgba(23, 205, 202, 0.92) 41.36%, rgba(23, 205, 202, 0.26) 92.6%);
  border-image-slice: 1;
}

.vision-border-middle {
  border: 1px solid;
  border-image-source: linear-gradient(0deg, #17CDCA 7.38%, rgba(23, 205, 202, 0.92) 56.87%, rgba(23, 205, 202, 0.26) 108.11%);
  border-image-slice: 1;
}

.gradient-border-contact {
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #17CDCA 0%, #0F908E 100%);
  border-image-slice: 1;
}

.white-gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.37) 100%);
}

.custom-eclipse {
  width: 405.8894348144531px;
  height: 202.9447174072266px;
  top: 719.11px;
  left: 314.89px;
  opacity: 1;
  background: linear-gradient(180deg, rgba(23, 205, 202, 0.72) 0%, #01180E 100%);
  border-radius: 202.9447174072266px 202.9447174072266px 0 0;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  .font-kaushan {
    font-family: "Kaushan Script", cursive;
  }

  body {
    @apply bg-background text-foreground;
  }
}